

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#cara{
  width: 80px;
  height: 80px;
  margin-top: 10px;
  border-radius: 50%;

}
body{
    font-family: Ubuntu;

    
  }
header{
    width: 100%;
    height:100px;
    background: rgba(50,150,205,2);
    color: #fff;
    position: flex;
    top: 0;
    left: 0;
    z-index: 100;
  }
 .contenedor1{
   width: 98%;
}

header .contenedor1{
  display: flex;


 }

#somosInclude{
  height: 250px;
  text-align: center;
  background-color: rgba(200,195, 195, 0.4);
}
.contenedor2{
     width: 100%;
 }
#notas .contenedor2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#notas h4, h5,h6{
  margin-top: 30px;
  text-align: center;

}
#notas img{
  width: 100%;
  max-width: 350px;

}
#notas article{
  margin: 20px;
  background-color:grey;
}
#notas{
  margin-top: 50px;
}
/*------------logo de la caraInclude--------------------*/
h1{
  float: left;
  margin-left:15px;
}/*------------------------------------------------------*/

h2 {
  margin-bottom:10px ;
  text-align: center;
}
h3{
  margin-top: 50px;
  margin-bottom:10px;
}

/*-----------------------seccion de imagenes de curso--------------------------------------------*/

.contenedor2 article {
  width: 25%;
  height:500px;
}

#img-izq{
  margin-left: 50px;
}
#img-centro{
  height: 205px;
}
#img-der{
}
#tituloIzq{
  margin-bottom:5px;
  font-size:35px;
  font-family:Teko ;
}
#texto-izq{

  text-align:left;
  font-family:monospace;
  font-size: 15px;
}



#seccion-Contacto{
  height:350px;
  margin-top: 20px;
  background-color: rgba(200,195, 195, 0.4);
}




#Contacto{
  font-size:33px;
  margin-bottom: 20px;
  font-family: Josefin Sans;
}
section p{
  margin-left: 40px;
}
#redes{
  margin-top:50px;
  font-size: 25px;
  font-family: Josefin Sans;
}
#datos-contacto p{
  margin-top:10px;
  margin-left: 70px;
  font-family: Josefin Sans;
}
#iconos-contacto{
  margin-left:20px;
}

#iconos-contacto i{
  margin-left: 20px;
  margin-top: 20px;
}
i.fab {
   color:rgb(0,100,120);

 }
i.fab:hover {
    color: rgb(0,220,200);

  }
