#menu-bar{
  display: none;
}

header label{
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}
.icon-menu{
  float: left;
}
.menu {
  position: absolute;
  top:100px;
  left: 0;
  width: 15.8%;
  height: auto;
  background:  rgba(40,120,175,1);
  transition: all 0.5s;
  transform: translateX(-100%);
}
.menu a {
  display: block;
  color: #fff;
  height:50px;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.menu a:hover{
  background: rgba(255,255,255,0.5);
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}
